body {
    font size: 16px;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}
header, footer {
    border: 1px double;
    border-color: #D3D3D3;
    padding: 1rem;
    background color: 
}

header img {
    float: right;
}