body {
	font-size: 16px;
	font-family: Tahoma, Verdana, sans-serif;
}
header,
footer {
	background-color: #005D6E;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 1200px;
	margin: 0 auto;
}
h1 {
	font-size: 2rem;
    Color: #BDB1A5;
}
h2 {
	color: #536878;
}
h3 {
    color:  #BDB1A5;
}

nav {
	background-color: #648995;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}

nav ul { 
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
nav ul li { 
    flex: 1 1 100%;  
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav hover {
	background-color: #bbb;
	color: #36454f;
}
.active {
	color: yellow;
}

footer {
	flex: 0 1 100%;
	height: 2rem;
}